.anchor-container{
  position: relative;
  width: 100%;
  height: 330px;
  padding: 30px;
  box-shadow: 0 0 8px #444;
  background-color: #f9f9f9;
}

.detail-container{
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 8px #444;
}

.detail-title{
  padding: 10px;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.detail-sub{
  display: inline-block;
  width: 100%;
  padding-left: 100px;
  text-align: center
}

.detail-content{
  text-indent: 30px;
  font-size: 14px;
}

.subs-title{
  font-size: 18px;
  padding-top: 10px;
  color: green;
}

.detail-comment{
  text-indent: 30px;
  padding: 8px 3px;
  line-height: 20px;
  margin-left: 30px;
  background: #ddd;
  border-radius: 3px;
  font-size: 13px;
}
