.home-header {
  width: 100%;
  height: 350px;
}

.home-header::after {
  clear: both;
}

.home-banner {
  float: left;
  width: 59%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 8px #444;
  animation: unfold 1s both;
}

.home-day-words {
  position: relative;
  float: left;
  margin-left: 2%;
  width: 39%;
  height: 100%;
  overflow: hidden;
  background: url("../assets/bord.jpg") no-repeat center center;
  background-size: 100% 100%;
  box-shadow: 0 0 8px #444;
  text-align: center;
  animation: unfold 1s both;
}

.words-title {
  position: absolute;
  top: 12%;
  right: 18%;
  font-size: 25px;
  font-weight: 600;
}

.words-content {
  position: absolute;
  width: 80%;
  height: 40%;
  margin: 30% 10%;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-indent: 35px;
  text-shadow: 0 0 20px green;
  color: darkgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.home-content{
  margin-top: 20px;
}

/* 每日一句动画 */
@keyframes unfold {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to{
    opacity: 1;
    transform: scaleY(1);
  }
}


/* 适配不同尺寸 */
@media (max-width: 768px) {
  .home-banner {
    width: 730px;
  }
  .home-day-words{
    display: none;
  }
}

@media (min-width: 768px) {
  .home-banner {
    width: 100%;
  }
  .home-day-words{
    display: none;
  }
}

@media (min-width: 992px) {
  .home-banner {
    width: 100%;
  }
  .home-day-words{
    display: none;
  }
}

@media (min-width: 1200px) {
  .home-banner {
    width: 59%;
  }
  .home-day-words{
    display: block;
    width: 39%;
  }
}