.tipsPage{
    width: 100%;
}

.tipsListContent{
    width: 100%;
}

.tipsContentItem{
    margin: 10px 0;
    padding: 10px 20px;
    width: 48%;
    float: left;
    box-shadow: 0 0 8px #444;
}


.tipsContentItem:nth-child(2n){
    margin-left: 2%;
    animation: flyInRightSlide 1s .5s both;
}

.tipsContentItem:nth-child(2n+1){
    margin-left: 2%;
    animation: flyInLeftSlide 1s both;
}

.itemTitle{
    color: #000;
}

.desc{
    color: #555;
}

.author{
    padding-left: 80%;
}

@keyframes flyInLeftSlide {
    from {
        opacity: 0;
        transform: translate(-500px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes flyInRightSlide {
    from {
        opacity: 0;
        transform: translate(500px)
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}